/* Variables and general site-wide styles */
:root {
	--white: #ffffff;
	--blue: #1b2c58;
	--red: #663333;
	--black: #000000;
	--near-black: #2E2C2C;
	--grey: #d1d9e2;
	--max-width: 1400px;
	--main-gutter-x: 1em;
	--main-gutter-y: 0;
	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--near-black);
		--border-color: var(--white);
		--button-border: var(--white);
		--color: var(--white);
		--color-link: var(--white);
		--color-link-active: var(--grey);
		--hover-background: var(--white);
		--hover-color: var(--blue);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--white);
		--border-color: var(--blue);
		--button-border: var(--black);
		--color: var(--black);
		--color-link: var(--blue);
		--color-link-active: var(--grey);
		--hover-background: var(--blue);
		--hover-color: var(--white);
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	background-color: var(--background-color);
	color: var(--color);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 16pt;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--grey);
}

.container {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 1em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p {
	line-height: 1.5;
	margin: 0.5em 0;
}

a {
	text-decoration: underline;
	text-underline-position: under;
}

a.with-icon::before {
	display: inline-flex;
	margin-right: 5px;
	vertical-align: bottom;
	font-family: "FontAwesome";
}

a.home-page::before {
	content: "\e1b0";
}

a.tech-blog::before {
	content: "\f5fc";
}

a.theology-blog::before {
	content: "\f4ba";
}

li {
	line-height: 1.5;
}

h1 {
	font-size: 2.5em;
}

h1.page-title {
	margin: 0;
}

h2, h3, h4, h5, h6 {
	margin: 0.75em 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.15em;
}

h6 {
	font-size: 1.05em;
}

/** Border blocks, top (header) and bottom (footer) variations **/
.border-bottom-section:not(:last-child) {
  margin-bottom: 1rem;
}

.border-bottom-section:not(:last-child):after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
}

.border-bottom-section:after {
  border-bottom: 1px solid var(--border-color);
}

.border-top-section {
  padding-top: 1rem;
}

.border-top-section:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 1rem;
}

.border-top-section:before {
  border-top: 1px solid var(--border-color);
}
