/* Variables and general site-wide styles */
:root {
	--white: #ffffff;
	--blue: #1b2c58;
	--red: #663333;
	--black: #000000;
	--near-black: #1e1e1e;
	--grey: #d1d9e2;
	--max-width: 1400px;
	--main-gutter-x: 1em;
	--main-gutter-y: 2em;
	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--near-black);
		--border-color: var(--white);
		--button-border: var(--white);
		--color: var(--white);
		--color-link: var(--white);
		--color-link-active: var(--grey);
		--hover-background: var(--white);
		--hover-color: var(--blue);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: var(--white);
		--border-color: var(--blue);
		--button-border: var(--black);
		--color: var(--black);
		--color-link: var(--blue);
		--color-link-active: var(--grey);
		--hover-background: var(--blue);
		--hover-color: var(--white);
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 16pt;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--grey);
}

.container {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 1em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p {
	line-height: 1.5;
	margin: 0.5em 0;
}

a {
	text-decoration: underline;
	text-underline-position: under;
}

a.with-icon::before {
	display: inline-flex;
	margin-right: 5px;
	vertical-align: bottom;
	font-family: "FontAwesome";
}

a.home-page::before {
	content: "\e1b0";
}

a.tech-blog::before {
	content: "\f5fc";
}

a.theology-blog::before {
	content: "\f4ba";
}

li {
	line-height: 1.5;
}
