/* Containers for layout */

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	background-color: var(--background-color);
	color: var(--color);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 16pt;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--grey);
}

.container {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 1em;
}

/** Border blocks, top (header) and bottom (footer) variations **/

.border-bottom-section:not(:last-child) {
	margin-bottom: 1rem;
}

.border-bottom-section:not(:last-child):after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 70%;
}

.border-bottom-section:after {
	border-bottom: 1px solid var(--border-color);
}

.border-top-section {
	padding-top: 1rem;
}

.border-top-section:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 70%;
	border-top: 1px solid var(--border-color);
	padding-top: 1rem;
}
