.site-footer {
	width: 100%;
	border-top: 3px solid var(--border-color);
	padding: 0 var(--main-gutter-x);
	background-color: var(--red);
	font-size: 14px;
}

footer p {
	text-align: center;
	color: var(--white);
}

footer p a {
	color: var(--white);
}

footer p a:is(:hover, :focus) {
	background-color: var(--white);
	color: var(--blue);
}
