header {
	width: 100%;
	max-width: var(--max-width);
	color: var(--white);
}

header a {
	color: var(--white);
}

header a:is(:focus, :hover) {
	background-color: var(--white);
	color: var(--red);
}

.header-nav {
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	padding: 0 var(--main-gutter-x) 0.25em var(--main-gutter-x);
	background-color: var(--blue);
	color: var(--white);
}

.title-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 3em;
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--border-color);
	padding: 0 var(--main-gutter-x);
	background-color: var(--red);
}

.search {
	padding-bottom: 0.5em 0;
}
