header {
	width: 100%;
	background-color: var(--blue);
	color: var(--white);
}

.title-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 3em;
	padding: 0 var(--main-gutter-x);
}

.header-nav {
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	padding: 0 var(--main-gutter-x) 0.25 var(--main-gutter-x);
	background-color: var(--red);
	color: var(--white);
}

header a {
	color: var(--white);
}

header a:is(:focus, :hover) {
	background-color: var(--white);
	color: var(--red);
}
