/** Styles common to main, whether it has a sidebar or not **/
main {
	max-width: var(--max-width);
	padding: var(--main-gutter-y) var(--main-gutter-x);
	background-color: var(--background-color);
}

main a {
	color: var(--color-link);
}

main a:is(:hover, :focus) {
	background-color: var(--hover-background);
	color: var(--hover-color);
}

main a[href]:active {
	color: var(--color-link-active);
}

/** Styles for main with a sidebar (most pages) **/
main.main-sidebar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
}

/** Sidebar **/
.sidebar {
	width: 25%;
	padding: 1em 1em 0 0;
}

.sidebar-block {
	margin-bottom: 1em;
	border: 1px solid var(--border-color);
	border-radius: var(--rounded-border-radius);
}

.sidebar-block:last-child {
	margin-bottom: 1em;
}

.sidebar-block h2,
.sidebar-block p {
	padding: 0.25em;
}

.sidebar-block h2 {
	margin: 0;
	border-bottom: 1px solid var(--border-color);
	border-radius: var(--rounded-border-radius) var(--rounded-border-radius) 0 0;
	background-color: var(--blue);
	color: var(--white);
}

/** Main content **/
.main-content {
	width: 75%;
	padding: 1em 0 0 0;
}

@media (max-width: 1200px) {
	.sidebar,
	.main-content {
		width: 100%;
	}
}
