/** Pagination **/

.pager {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 1em;
	margin: 0;
	padding: 1em;
	list-style: none;
}

.pager li {
	display: flex;
	height: fit-content;
}

.pager li a {
	border: 1px solid var(--grey);
	padding: 0.5em;
	text-decoration: none;
	line-height: 1em;
	background-color: var(--blue);
	color: var(--white);
}

.pager li a:is(:hover, :focus) {
	background-color: var(--red);
	color: var(--white);
}

.pager li a[aria-current="page"] {
	background-color: var(--grey);
	color: var(--black);
}
