/** Styles only needed for the views summarizing multiple posts */

/** Lists of posts **/

.post-list-item-title {
	margin: 0;
	line-height: 1.4em;
}

.post-list-metadata {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em 3em;
	padding: 0;
	margin: 0.5em 0;
}

.post-list-metadata p {
	margin: 0;
	line-height: 1.5em;
	font-size: 0.8em;
}

.post-list-tag {
	text-transform: capitalize;
}

.post-list-item :last-child {
	margin-bottom: 0;
}
