/** Styles for elasticlunr search **/
.search-form {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 10px;
}

.search-input {
	border: 1px solid var(--blue);
	border-radius: 5px;
	padding: 10px;
	background-color: var(--white);
}

.search-input:is(:focus,:hover) {
	outline: 5px solid var(--blue);
}

.search-button {
	padding: 10px;
	background-color: var(--blue);
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 5px;
}

.search-button:is(:focus,:hover) {
	outline: 5px solid var(--white);
}

.search-results {
	width: 100%;
}

.search-results-wrapper {
	border: 1px solid var(--border-color);
	padding: 1rem;
	max-height: 400px;
	overflow-y: auto;
}

.search-results-heading {
	margin: 0;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

