/** Styles for elasticlunr search **/
.search-form {
	display: inline-flex;
	border: 1px solid var(--black);
	border-radius: 5px;
}

.search-input {
	border: 0;
	border-radius: 5px 0 0 5px;
	padding: 10px;
	background-color: var(--white);
	font-weight: 700;
}

.search-button {
	padding: 0.5em;
	background-color: var(--blue);
	color: var(--white);
	border: 0;
	border-radius: 0 5px 5px 0;
}

.search-results {
  border: 1px solid var(--border-color);
	width: calc(100% - 2px);
  max-height: 400px;
  overflow-y: auto;
}

.search-results-heading {
	margin: 0;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li a {
  display: block;
  padding: 0.5em 1em;
}

.search-results p {
	padding: 0.5em 1em;
}
