/** Aligns with the social-links.njk include file **/
.social-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: 0.5em;
	width: 100%;
	margin: 0;
	padding: 16px 0;
	list-style: none;
}

@media (min-width:480px) {
	.social-links {
		grid-template-columns: repeat(6, auto);
	}
}

@media (min-width: 768px) {
	.social-links {
		grid-template-columns: repeat(12, auto);
	}
}

.social-links li {
	display: inline-flex;
}

.social-links li a {
	fill: var(--white);
}

.social-links li a:is(:hover, :focus) {
	background-color: var(--white);
	fill: var(--blue);
}
