/** Aligns with the tagslist.njk include **/
.tags-list {
	columns: 1;
}

/** Needs to line up with the breakpoint in main.css for when the sidebar moves to the bottom **/
@media (max-width: 1200px) {
	.tags-list {
		columns: 2;
	}
}

@media (max-width: 30em) {
	.tags-list {
		columns: 1;
	}
}
