/** Aligns with the tagslist.njk and tags.njk include **/
@media (min-width: 1201px) {
	.sidebar-block .tags-list {
		columns: 1;
	}
}

@media (min-width: 1201px) {
	.tags-list {
		columns: 3;
	}
}

/** Needs to line up with the breakpoint in main.css for when the sidebar moves to the bottom **/
@media (min-width: 901px) {
	.tags-list {
		columns: 2;
	}
}

.tags-list {
	columns: 1;
}

.main-content .tags-list li {
	margin-left: 1em;
}
