{# Block showing all tags of posts. #}
<aside class="sidebar-block" aria-labelledby="posts-by-year-label">
	<h2 id="posts-by-year-label">Posts by Year</h2>
	<div class="sidebar-container">
		{% include "years-list.njk" %}
	</div>
</aside>
