{# Flexible sidebars that can be added for any site by adding content of the tag "sidebar." #}
{% for sidebar in sidebarBlocks %}
	<aside class="sidebar-block" aria-label={{ sidebar.data.title }}>
		<h2>{{ sidebar.data.title }}</h2>
		{{ sidebar.content | safe }}
	</aside>
{% endfor %}
