{# Common snippet used for tags page and sidebar snippet #}
{%- css %}{% include "11ty-theme/css/tags-list.css" %}{% endcss %}
<ul class="tags-list">
	{% for tag in collections | getKeys | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag"{% if tagDescriptions[tag] %} title="{{ tagDescriptions[tag] }}"{% endif %}>{{ tag }}</a> ({{ collections[tag].length }})</li>
	{% endfor %}
</ul>
