{# Common snippet used for years page and sidebar snippet #}
{%- css %}{% include "11ty-theme/css/tags-list.css" %}{% endcss %}
<ul class="tags-list">
	{% for year, count in collections.postsByYear.keys | dictsort(true, 'key') | reverse %}
		{% set yearUrl %}/{{ year }}/{% endset %}
		<li><a href="{{ yearUrl }}" class="post-tag">{{ year }}</a> ({{ count }})</li>
	{% endfor %}
</ul>
