---
layout: layouts/main.njk
pagination:
  data: collections.posts
  reverse: true
  size: 10
  alias: allPosts
permalink: "/{% if pagination.pageNumber > 0 %}posts/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% set postList = pagination.items %}
{% include "post-list-pager.njk" %}
