---
layout: layouts/main.njk
pagination:
  data: collections.posts
  reverse: true
  size: 20
  alias: allPosts
permalink: "/{% if pagination.pageNumber > 0 %}posts/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<div class="border-bottom-section">
	{{ content | safe }}
</div>

{% set postList = pagination.items %}
{% include "post-list.njk" %}

{# Create the hrefs for the pager, mimicking tag-page.njk #}
{% set hrefsObj = {"items":[]} %}
{% for i in range(0, pagination.totalPages) %}
    {% if i == 0 %}
        {% set pageUrl %}/{% endset %}
    {% else %}
        {% set pageUrl %}/posts/{{ i + 1 }}/{% endset %}
    {% endif %}
    {%- set _ = hrefsObj.items.push(pageUrl) %}
{% endfor %}

{# Recreate the pagination object for the pager, adding hrefs #}
{% set pagination = {
    "hrefs": hrefsObj.items,
    "pageNumber": pagination.pageNumber,
    "totalPages": pagination.pages | length,
    "href": pagination.href
} %}

{% include "pager.njk" %}
