---
layout: layouts/main.njk
pagination:
  data: collections.posts
  reverse: true
  size: 20
  alias: allPosts
permalink: "/{% if pagination.pageNumber > 0 %}posts/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<div class="border-bottom-section">
	{{ content | safe }}
</div>

{% set postList = pagination.items %}
{% include "post-list.njk" %}

{# Recreate the pagination object for the pager, adding hrefs #}
{% set pagination = {
    "hrefs": pagination.hrefs,
    "pageNumber": pagination.pageNumber,
    "totalPages": pagination.pages | length,
    "href": pagination.href
} %}

{% include "pager.njk" %}
