<!-- Enforce UTF-8 encoding -->
<!DOCTYPE html>
<html lang="{{ meta.language }}">
	<head>
	  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2E2C2C">
		<meta name="geo.region" content="{{ meta.region }}">
		<meta name="author" content="{{ general.author.name }}">
		<meta name="description" content="{{ description or general.description }}">
		<meta name="fediverse:creator" content="{{ meta.fediverse }}" />
		<meta http-equiv="X-Content-Type-Options" content="nosniff" />

		<meta property="og:title" content="{{ title or general.title }}">
		<meta property="og:description" content="{{ description or general.description }}">
		<meta property="og:url" content="{{ general.url }}{{ page.url }}">
		<meta property="og:image" content="{{ general.url }}/img/Ryan.png">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{ title or general.title }}">
		<meta name="twitter:description" content="{{ description or general.description }}">
		<meta name="twitter:image" content="{{ general.url }}/img/Ryan.png">

		<title>{{ title }} | {{ general.title }}</title>

		<link rel="canonical" href="{{ general.url }}{{ page.url }}">
  	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

		{#- Atom (RSS) feed #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ general.title }}">

		{#- Add the contents of each css file to the bundle #}
		{%- css %}{% include "11ty-theme/css/base.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/containers.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/header.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/pagefind.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/search.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/main.css" %}{% endcss %}
		{%- css %}{% include "11ty-theme/css/footer.css" %}{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		{#- Add the Atkinson Hyperlegible font from Google Fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		{#- Add Font Awesome for icons #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css?v=1">
	</head>

	<body>
		<a href="#main" class="visually-hidden">Skip to main content</a>
		<div class="wrapper">
			<header>
				<nav class="container header-nav" aria-labelledby="landing-page-header">
					<h2 class="visually-hidden" id="landing-page-header">External Navigation Links</h2>
					<a href="https://ryanrobinson.ca" class="icon-before home-page">Ryan's Home Page</a>
				</nav>
				<div class="container title-search">
					<p class="site-title"><a href="/" class="icon-before {{ general.link_icon }}">{{ general.title }}</a></p>
					<div id="search" class="search">
						<div class="elastic-search">
							<form id="search-form" class="search-form" role="search">
								<label for="search-input" class="visually-hidden">Search this site</label>
								<input type="search" id="search-input" class="search-input" placeholder="Search this site" aria-controls="search-results" aria-autocomplete="list">
								<button type="submit" class="search-button">Search</button>
							</form>
						</div>
					</div>
				</div>
			</header>
			<main id="main">
				<nav id="search-results" class="search-results" aria-label="Search results navigation" hidden></nav>
				<div class="main-content">
					<h1>{{ title }}</h1>
					{{ content | safe }}
				</div>
				<div class="sidebar">
					{% set sidebarBlocks = collections.sidebar %}
					{% include "block-sidebars.njk" %}
					{% include "block-series-list.njk" %}
					{% include "block-tags-list.njk" %}
					{% include "block-year-list.njk" %}
				</div>
			</main>
			<footer class="container" aria-label="Site Footer">
					{% include "social-links.njk" %}
					<p>&copy; {% year %} <a href="{{ general.author.url }}">{{ general.author.name }}</a>. Powered by <a href="https://www.11ty.dev/">Eleventy</a>. The site's font is <a href="https://brailleinstitute.org/freefont">Atkinson Hyperlegible from the Braille Institute</a>.</p>
			</footer>
		</div>
		<script src="/js/elasticlunr.min.js"></script>
		<script src="/js/search.js"></script>
	</body>
</html>
