---
layout: layouts/main.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "11ty-theme/css/post.css" %}{% endcss %}
<article data-pagefind-body>

	{% if series %}
		<p>Series: {{ series }}</p>
	{% endif %}

	{% if description %}
		<p class="post-description" data-pagefind-weight="3">
			<strong><abbr title="too long, didn't read">tl;dr</abbr>:</strong> {{ description }}
		</p>
	{% endif %}

	<div class="post-metadata border-bottom-section">
		<p><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL d, yyyy") }}</time></p>
		{% if tags | filterTagList | length %}
			<p>Tags:
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="post-tag"{% if tagDescriptions[tag] %} title="{{ tagDescriptions[tag] }}"{% endif %}>{{ tag }}</a>{%- if not loop.last %}, {% endif %}
			{%- endfor %}
			</p>
		{% endif %}
	</div>

	{{ content | safe }}

	{%- if collections.posts %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem %}
		{%- set nextPost = collections.posts | getNextCollectionItem %}
		{%- if nextPost or previousPost %}
			<div class="border-top-section">
				<div class="links-nextprev">
					{%- if previousPost %}<p><span class="visually-hidden">Previous: </span><a href="{{ previousPost.url }}" class="icon-before pager-prev">{{ previousPost.data.title }}</a></p>{% endif %}
					{%- if nextPost %}<p><span class="visually-hidden">Next: </span><a href="{{ nextPost.url }}" class="icon-after pager-next">{{ nextPost.data.title }}</a></p>{% endif %}
				</div>
			</div>
		{%- endif %}
	{%- endif %}
</article>
